
<body>
  
  <div class="customizar">
    <div>
      <p>Un día después de que el presidente electo de Estados Unidos, Donald Trump, propusiera cambiar el nombre del Golfo de México por el de "Golfo de América", la presidenta mexicana salió a responderle.</p>
      
      <p>Con una sonrisa y mostrando un mapamundi de 1607 en el que aparece una parte del territorio mexicano y una parte del territorio estadounidense como una sola unidad -sin la separación limítrofe que existe en la actualidad-, Claudia Sheinbaum propuso renombrar esa geografía.</p>
      
      <p>"¿Por qué no le llamamos América Mexicana? Se oye bonito ¿no?, ¿verdad que sí?", planteó Sheinbaum.</p>
      
      <p>"Desde 1607, la Constitución de Apatzingán era de América Mexicana. Entonces, vamos a llamarle América Mexicana", agregó.</p>
      
      <p>Sheinbaum recalcó que el nombre Golfo de México está reconocido internacionalmente.</p>
      
      <p>"Yo creo que ayer, con todo respeto, al presidente Trump le mal informaron que en México todavía gobernaban Felipe Calderón y García Luna, pero no. En México gobierna el pueblo", concluyó la presidenta.</p>
    </div>
    
    <img src="https://cdn.forbes.com.mx/2025/01/sheinbaum-02-640x360.webp" alt="No encontrado">
    <a href="https://www.bbc.com/mundo/articles/c77j718vl06o">link a la noticia</a>

  <button class="regreso">
    <a href="javascript:history.back()">Volver atrás</a>
  </button>

  

</div>



</body>
