<p>
  Sheinbaum responde a Trump que el nombre del Golfo de México está reconocido desde 1607
  Tras la propuesta de Trump de renombrar el área como ‘Golfo de América’, Sheinbaum mostró en su conferencia matutina un mapamundi 'que editó un flamenco para la Compañía de Indias de Ámsterdam' en 1607 que ya habla del ‘Golfo mexicano’ y, además, llama ‘América mexicana’ al actual territorio de Estados Unidos.
</p>
<img src="https://cdn.forbes.com.mx/2025/01/sheinbaum-02-640x360.webp" alt="No encontrado">

