
  Temblor hoy 9 de enero en México: se registró un sismo de magnitud 4.1 en Chiapas
  <h4>
    El Servicio Sismológico Nacional (SSN) registró un movimiento telúrico de magnitud 4.1 en el estado de Chiapas. De acuerdo con la información, el epicentro fue a 140 kilómetros al suroeste de la ciudad de Tonalá a las 04:34 horas de este jueves 9 de enero, y tuvo una profundidad de 15 kilómetros.

  </h4>

  <div class="IMG">
    <img src="https://www.infobae.com/resizer/v2/QLUGOAPOFBDHPNC3YDWB54DT2Y.jpg?auth=bf8088feeff4e89c2859f459295c77baf33606e90635f7ab38d4b17b2e711981&smart=true&width=992&height=558&quality=85" alt="No encontrado">
  </div>
  
