<body>
  
  <div class="customizar">
    <div>
      <p>Tonalá fue el epicentro de un temblor de 4.1 de magnitud que sorprendió este 9 de enero a los pobladores del estado de Chiapas a las 4:34 hora del centro (10:34 UTC).</p>
      
      <p>El sismo sucedió 140 km al suroeste de la ciudad y tuvo una profundidad de 15.3 km, de acuerdo con la información preliminar del Servicio Sismológico Nacional (SSN).</p>
      
      <p>Ante una actividad sísmica importante, el Centro Nacional de Prevención de Desastres (Cenapred) recomienda no caer en rumores, ni noticias falsas y solo informarse en fuentes oficiales, como las autoridades de Protección Civil, tanto locales y estatales, así como federales.</p>
      
      <p>Tras un terremoto, checa tu hogar en búsqueda de posibles daños, utiliza tu celular solo en caso de emergencia, no enciendas cerillos o velas hasta asegurarte que no hay alguna fuga de gas y recuerda que se pueden presentar réplicas del sismo, por lo que es importante mantenerte alerta.</p>
      
      <p>También puedes seguir las siguientes medidas antes de un terremoto: prepara un plan de protección civil, organiza simulacros de evacuación, encuentra las zonas de seguridad en casa, escuela o lugar de trabajo y alista una mochila de emergencia.</p>
      
      <p>Durante un temblor guarda la calma y ubícate en una zona de seguridad, aléjate de objetos que puedan caer; si estás en un automóvil, estaciónate y aléjate de edificios, árboles y postes; y si te encuentras en la costa, aléjate de la playa y refúgiate en zonas altas.</p>
    </div>
  
    <img src="https://www.infobae.com/resizer/v2/QLUGOAPOFBDHPNC3YDWB54DT2Y.jpg?auth=bf8088feeff4e89c2859f459295c77baf33606e90635f7ab38d4b17b2e711981&smart=true&width=992&height=558&quality=85" alt="No encontrado">

   
    <a href="https://www.infobae.com/mexico/2025/01/09/chiapas-registra-temblor-de-magnitud-41/">link a la noticia</a>

  <button class="regreso">


    <a href="javascript:history.back()">Volver atrás</a>
  </button>

  

</div>



</body>