<p>
  Congreso mexicano pide a Trump reconsiderar políticas migratorias y reacciona a propuesta de renombrar el Golfo de México
  Gerardo Fernández Noroña hizo un llamado no deportar masivamente a millones de migrantes y reconocer el aporte que han hecho por décadas en el país vecino

  <p>
    <img src="https://www.infobae.com/resizer/v2/XQTMJAOVLBCDRM6W7LHZYFXST4.jpg?auth=56bbc1381d23e1406fb6ee080a4b3bc10d72b585eea3dc641e5348eef00c0e63&smart=true&width=992&height=558&quality=85" alt="No encontrado">

