.customizar{
    text-align: left;
    width: 1000px;
    max-height: 100vh;
    overflow: auto;
    margin: 0 auto;
    background-color: rgb(102, 100, 100);
    color: yellow;
}
body{
    background-color: rgb(191, 73, 191);
}
.regreso{
    align-self: center;
    background-color:darkslategray;
    border:solid;
    border-color: black;
    text-align: center;
    width: 75px;
    height: 75px;
    margin-left: 75px;
}
a{
    color:red;
}