
<body>
  
  <div class="customizar">
    
    <p>Este miércoles 8 de enero volvió de vacaciones la Comisión Permanente del Congreso de la Unión y luego de conocer la orden del día, los legisladores federales emitieron un pronunciamiento respecto de las políticas migratorias que implementará el presidente electo de Estados Unidos, Donald Trump, una vez que asuma el próximo 20 de enero.</p>
    
    <p>A nombre de ambas cámaras, el senador de Morena Gerardo Fernández Noroña hizo un llamado para que el político republicano reconsidere el plan para deportar masivamente a migrantes no sólo de México sino de otras nacionalidades y, en lugar de eso, instrumentar una política que “reconozca la ciudadanía de millones de seres humanos que llevan décadas contribuyendo con sus impuestos, trabajo, con la construcción de empresas y generación de empleos”.</p>
    
    <p>Asimismo, el vicepresidente de la Mesa Directiva de la Comisión Permanente pidió al presidente electo de EEUU seguir siendo la llamada ‘nación de las libertades’, ya que de continuar con sus políticas “le daría la espalda a la hermosísima declaración de independencia que como ya mencioné en otro momento, sostiene que el ser humano, el hombre -dice de manera textual- tiene derechos inalienables como el derecho a la vida, la libertad y la búsqueda de la felicidad”, dijo el morenista durante un amplio discurso.</p>
    
    <p>Fernández Noroña advirtió que la historia del país vecino ha pasado por episodios dolorosos donde muchos estadounidenses y migrantes dieron su vida para reivindicar sus libertades y derechos sociales, por lo que se debe seguir en la construcción de “un mundo sin odio, sin racismo, sin guerras, sin fronteras inhumanas que generen la persecución del ser humano solo por serlo (...) Le deseo al nuevo gobierno de EEUU todo el éxito menos en lo que tenga que ver con políticas públicas basadas en el clasismo, racismo y mezquindad”, advirtió el también presidente del Senado de la República.</p>
    
    <p>Congreso se pronuncia ante posible cambios en el Golfo de México</p>
    
    <p>La tarde del martes 7 de enero, el presidente electo Donald Trump ofreció una conferencia de prensa en la que, además de reiterar su intención de deportar a migrantes y designar como organizaciones terroristas a grupos delincuenciales -entre ellos los cárteles mexicanos-, también propuso renombrar al Golfo de México como Golfo de América, “(es)un nombre hermoso y muy apropiado que abarca mucho territorio, (porque) nosotros hacemos la mayor parte del trabajo”, dijo el republicano al tiempo que propuso también impulsar nuevos proyectos petroleros en la cuenca.</p>
    
    <p>Ante tal propuesta, el vicepresidente de la Mesa Directiva de la Comisión Permanente del Congreso de la Unión sentenció que no es posible hacer el cambio de nombre, “le recuerdo que América es todo el continente y el Golfo de México se encuentra en mayor parte en torno a nuestro territorio. La declaración en realidad busca minimizar a nuestra patria y eso es incorrecto e inaceptable”, sentenció el senador morenista al final de su discurso, el cual dijo que era una muestra de respaldo a la presidenta Claudia Sheinbaum Pardo y su gobierno, así como un recordatorio de que México es una nación independiente y soberana.</p>
    
  <img src="https://www.infobae.com/resizer/v2/XQTMJAOVLBCDRM6W7LHZYFXST4.jpg?auth=56bbc1381d23e1406fb6ee080a4b3bc10d72b585eea3dc641e5348eef00c0e63&smart=true&width=992&height=558&quality=85" alt="No encontrado">
  <a href="https://www.infobae.com/mexico/2025/01/08/congreso-mexicano-pide-a-trump-reconsiderar-politicas-migratorias-y-reacciona-a-propuesta-de-renombrar-el-golfo-de-mexico/">link a la noticia</a>

  <button class="regreso">
    <a href="javascript:history.back()">Volver atrás</a>
  </button>

  

</div>



</body>