<p>
  Incendios en California, en vivo | El Paseo de la Fama, en alerta de evacuación por el incendio en las colinas de Hollywood
  Un nuevo fuego amenaza las icónicas montañas, el corazón de Los Ángeles | Cinco muertes por los incendios | Biden: “No los dejaremos solos” | Las llamas han quemado más de 11.000 hectáreas y 2.000 estructuras, y han forzado la evacuación de más de 100.000 personas
  
</p>
<img src="https://imagenes.elpais.com/resizer/v2/CJEOCXZFRBAFXGAGYO4DUJE5ZU.jpg?auth=5288a613bef805edee9864cfe8d7af7208fa4d693f8b26459f27f1e0b406e5df&width=1200" alt="No encontrado"> 
