



  
<body>
  
  <div class="customizar">
    
    <p>
  
      Los incendios en California se concentran en varias áreas del sur del Estado, especialmente en el condado de Los Ángeles. Los focos más importantes incluyen:
    </p>
    <ol>
    <ul>
      Pacific Palisades: un incendio ha afectado la comunidad costera de Pacific Palisades, en la zona oeste de Los Ángeles. El fuego ha destruido viviendas y ha provocado evacuaciones masivas. Este es uno de los más graves y ha arrasado gran parte de la zona, con más de 6.900 hectáreas quemadas.
    </ul>
    <ul>
      Eaton (Pasadena): un incendio ha generado una tormenta de fuego en el cañón de Eaton, cerca de Pasadena, el cual se ha extendido rápidamente a más de 5.500 hectáreas. Ha dañado viviendas y ha obligado a evacuar diversas áreas.
      
      </ul>
      <ul>
      Hurst (Valle de San Fernando): el incendio en Sylmar, un suburbio al norte de Los Ángeles, ha quemado unas 300 hectáreas. Ha forzado evacuaciones en áreas cercanas y amenaza a otras propiedades residenciales.
    </ul>
      <ul>
        
      Sunset (Hollywood Hills): la noche del miércoles se desató un nuevo incendio en las colinas de Hollywood, cerca de Runyon Canyon. Las autoridades emitieron órdenes de evacuación para la zona durante las horas de la noche, pero para la mañana de este jueves ya las habían levantado. Este frente ha sido controlado y de momento no se ha expandido.
    </ul>
      <ul>
      Kenneth (West Hills): los incendios en California no dan tregua y este jueves se reportó un nuevo incendio que rápidamente consumió 960 acres (388 hectáreas). Las llamas amenazan hogares cerca de Calabasas y Hidden Hills.
    </ul>
      <ul>
      Creek (Angeles National Forest): Este incendio se desató el 9 de enero en el Angeles National Forest. Aunque su impacto es moderado hasta ahora, las autoridades están monitorizando su evolución.
    </ul>
    </ol>
    
    <img src="https://imagenes.elpais.com/resizer/v2/CJEOCXZFRBAFXGAGYO4DUJE5ZU.jpg?auth=5288a613bef805edee9864cfe8d7af7208fa4d693f8b26459f27f1e0b406e5df&width=1200" alt="No encontrado"> 
    <a href="https://elpais.com/us/2025-01-10/donde-se-ubican-los-incendios-de-california-como-comenzaron-y-cuales-son-los-danos-hasta-ahora.html">link a la noticia</a>

    <button class="regreso">
    <a href="javascript:history.back()">Volver atrás</a>
  </button>

  

</div>



</body>