<p>
  Lo que se sabe del ataque armado contra la casa de los papás de Markitos Toys en Culiacán

El 8 de enero de 2025, la casa de los padres de Markitos Toys, un conocido creador de contenido en redes sociales, fue atacada a balazos en Culiacán, Sinaloa. Según informes, sujetos armados dispararon contra la vivienda ubicada en la colonia Chapultepec. Afortunadamente, no se reportaron heridos ni víctimas mortales. Las autoridades locales han iniciado una investigación para esclarecer los motivos del ataque y dar con los responsables. Markitos Toys es reconocido por sus videos relacionados con la vida en Sinaloa y ha ganado popularidad en diversas plataformas digitales. Hasta el momento, no ha emitido declaraciones públicas sobre el incidente. Se espera que las autoridades proporcionen más información conforme avance la investigación.
</p>
<img src="https://www.debate.com.mx/__export/1736385394773/sites/debate/img/2025/01/08/lo_que_se_sabe_del_ataque_armado_contra_la_casa_de_los_pap-s_de_markitos_toys_en_culiac-n_-4-.png_754610136.png" alt="No encontrado">

